@use "@/styles/mixins.scss" as m;
@use "@/styles/breakpoints.scss" as b;
@use "@/styles/variables" as v;

.header {
	background-color: v.$color-bg;
	border-bottom: solid 1px v.$color-gray-light;
	padding: 0.9rem;
	position: sticky;
	top: 0;
	z-index: 100;

	@include b.breakpoint(md) {
		padding: 0.6rem 1.2rem;
	}

	&__center {
		@include m.container;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: none;
		a {
			padding: 0.3rem 0.8rem 0.2rem 0;
			text-transform: uppercase;
			position: relative;
			transition: v.$transition;
			&:hover::after,
			&:active::after,
			&:focus::after {
				width: 20%;
			}

			&::after {
				content: "";
				width: 0;
				height: 0.2rem;
				background-color: v.$color-primary;
				position: absolute;
				left: 0;
				bottom: -0.1rem;
				transition: v.$transition;
			}
		}

		@include b.breakpoint(md) {
			display: flex;
		}
	}

	&__logoImg {
		width: 70px;
		height: 35px;

		@include b.breakpoint(md) {
			width: 80px;
			height: 40px;
		}
	}

	&__container {
		display: flex;
		@include b.breakpoint(md) {
			gap: 2rem;
		}
	}

	&__hamburger {
		font-size: 1.2rem;
		border: none;
		background-color: transparent;
		margin-left: 1.6rem;

		@include b.breakpoint(md) {
			display: none;
		}
	}
}
