@use "@/styles/mixins.scss" as m;
@use "@/styles/breakpoints.scss" as b;
@use "@/styles/variables" as v;

.header {
	padding: 0.9rem;

	@include b.breakpoint(md) {
		padding: 1.2rem;
	}

	&__center {
		@include m.container;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__nav {
		display: none;
		a {
			padding: 0.2rem 0.3rem;
			text-transform: uppercase;
			position: relative;
			transition: v.$transition;
			&:hover::after,
			&:active::after,
			&:focus::after {
				width: 50%;
			}

			&::after {
				content: "";
				width: 0;
				height: 0.2rem;
				background-color: v.$color-primary;
				position: absolute;
				left: 0.3rem;
				bottom: -0.1rem;
				transition: v.$transition;
			}
		}

		@include b.breakpoint(md) {
			display: flex;
		}
	}

	&__container {
		display: flex;
		gap: 2.5rem;
	}

	&__hamburger {
		font-size: 1.6rem;
		font-weight: bold;
		border: none;
		background-color: transparent;

		@include b.breakpoint(md) {
			display: none;
		}
	}

	&__login {
		display: none;
		text-transform: uppercase;
		padding: 0.5rem;

		@include b.breakpoint(md) {
			display: flex;
		}
	}
}
