@use "@/styles/mixins.scss" as m;
@use "@/styles/breakpoints.scss" as b;
@use "@/styles/variables" as v;

.products {
	display: grid;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
