@use "@/styles/mixins.scss" as m;
@use "@/styles/breakpoints.scss" as b;
@use "@/styles/variables" as v;

.user {
	&__login {
		display: none;
		text-transform: uppercase;
		padding: 0.5rem;
		font-size: 1.1rem;

		@include b.breakpoint(md) {
			display: flex;
		}
	}

	&__container {
		position: relative;
	}

	&__panel {
		display: none;
		cursor: pointer;
		user-select: none;

		@include b.breakpoint(md) {
			display: flex;
			align-items: center;
			gap: 0.4rem;
		}
	}

	&__img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		object-fit: contain;
	}

	&__menuBtn {
		background-color: transparent;
		border: transparent;
		cursor: pointer;
		svg {
			font-size: 1.2rem;
		}
	}

	&__logoutBtn {
		position: absolute;
		top: 40px;
		left: 0;
		right: 0;
		padding: 0.2rem;
		border: 1px solid v.$color-font-lighter;
		border-radius: 4px;
		background-color: v.$color-bg;
		transition: v.$transition;

		&:hover {
			background-color: v.$color-gray-light;
		}
	}
}
