@use "@/styles/mixins.scss" as m;
@use "@/styles/breakpoints.scss" as b;
@use "@/styles/variables" as v;

.cartContent {
	@include m.container;
	margin: 2rem auto;
	padding: 0 0.9rem;
	display: grid;
	gap: 3rem;
	min-height: 60vh;

	@include b.breakpoint(md) {
		padding: 0 1.1rem;
		margin: 5rem auto;
	}

	@include b.breakpoint(lg) {
		grid-template-columns: 1fr 360px;
	}

	@media screen and (min-width: 1340px) {
		padding: 0;
	}

	&__empty {
		h2 {
			margin-bottom: 2rem;
		}

		a {
			padding: 0.8rem 1.2rem;
			background-color: v.$color-font;
			color: v.$color-bg;
			transition: v.$transition;

			&:hover,
			&:active,
			&:focus {
				background-color: v.$color-bg;
				color: v.$color-font;
				border: 1px solid v.$color-font;
			}
		}
	}

	&__links {
		text-align: center;
		padding: 1.8rem 0;
		display: flex;
		flex-direction: column;

		@include b.breakpoint(md) {
			flex-direction: row;
			justify-content: space-between;
		}

		a {
			padding: 0.4rem 0.8rem;
			background-color: transparent;
			border: 1px solid #ccc;
			cursor: pointer;
			color: v.$color-font-light;
			transition: 0.2s all ease-in-out;

			&:hover {
				background-color: #ccc;
			}
		}

		button {
			border: 2px solid v.$color-bg;
			cursor: pointer;
			padding: 0.4rem 0.8rem;
			background-color: v.$color-font;
			color: v.$color-bg;
			transition: v.$transition;

			&:hover {
				background-color: v.$color-bg;
				color: v.$color-font;
				outline-color: v.$color-font;
				border: 2px solid v.$color-font;
			}
		}
	}
}
