//colors
$color-font: #000;
$color-font-light: #666;
$color-font-lighter: #999;
$color-bg: #fff;
$color-gray-light: #f0f0f0;
$color-primary: #ee4266;
$color-stars: #ffb900;

//transition
$transition: 0.3s all ease-in-out;
$transition-product: 0.5s all ease;
